##load data from 3d with Pandas

In [1]:
import pandas

In [5]:
df = pandas.read_excel ("s3://isat252nikita/Diamonds.xls")

df [:10] # return first 10 rows of diamonds table

   IDNO  WEIGHT COLOR CLARITY RATER  PRICE
0     1    0.30     D     VS2   GIA   1302
1     2    0.30     E     VS1   GIA   1510
2     3    0.30     G    VVS1   GIA   1510
3     4    0.30     G     VS1   GIA   1260
4     5    0.31     D     VS1   GIA   1641
5     6    0.31     E     VS1   GIA   1555
6     7    0.31     F     VS1   GIA   1427
7     8    0.31     G    VVS2   GIA   1427
8     9    0.31     H     VS2   GIA   1126
9    10    0.31     I     VS1   GIA   1126